# Local development
HOST=0.0.0.0
PORT=5400
DATABASE_URL=postgres://postgres:melisearch@localhost:5432/melisearch
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PRODUCTS_TOPIC=melisearch.public.products
KAFKA_GROUP_ID=melisearch-indexer
KAFKA_PRODUCTS_BATCH_SIZE=5000
KAFKA_PRODUCTS_BATCH_MAX_WAIT_MS=500
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_API_KEY=342143821043
MEILISEARCH_PRODUCTS_INDEX=products
REACT_APP_PUBLIC_API_URL=/api

# Docker Compose 
HOST=0.0.0.0
PORT=5400
DATABASE_URL=postgres://postgres:melisearch@postgres:5432/melisearch
KAFKA_BOOTSTRAP_SERVERS=kafka:19092
KAFKA_PRODUCTS_TOPIC=melisearch.public.products
KAFKA_GROUP_ID=melisearch-indexer
KAFKA_PRODUCTS_BATCH_SIZE=5000
KAFKA_PRODUCTS_BATCH_MAX_WAIT_MS=500
MEILISEARCH_URL=http://meilisearch:7700
MEILISEARCH_API_KEY=342143821043
MEILISEARCH_PRODUCTS_INDEX=products
REACT_APP_PUBLIC_API_URL=/api

WEB_PORT=3000
SERVICE_PORT=5400
POSTGRES_PORT=5432
KAFKA_EXTERNAL_HOST=localhost
KAFKA_EXTERNAL_PORT=9092
KAFKA_UI_PORT=8282
MEILISEARCH_PORT=7700
DEBEZIUM_CONNECT_PORT=8083

POSTGRES_DB=melisearch
POSTGRES_USER=postgres
POSTGRES_PASSWORD=melisearch
MEILI_ENV=development
