# Local development
HOST=0.0.0.0
PORT=5400
DATABASE_URL=postgres://postgres:melisearch@localhost:5432/melisearch
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_PRODUCTS_TOPIC=melisearch.public.products
KAFKA_GROUP_ID=melisearch-indexer
KAFKA_PRODUCTS_BATCH_SIZE=5000
KAFKA_PRODUCTS_BATCH_MAX_WAIT_MS=500
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_API_KEY=342143821043
MEILISEARCH_PRODUCTS_INDEX=products
REACT_APP_PUBLIC_API_URL=/api
